@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
html, body {
    margin: 0px;
}
header {
    width: 100%;
    background-color: #7000ff;
    display: flex;
    padding: 20px 0;
    margin-bottom: 50px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left:  15px;
}

.logo {
    display: flex;
    align-items: center;
    border-style: none;
    zoom: 129%;
}

header h1 {
   margin-left: 20px;
   margin-right: 750px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
nav {
    padding-top: 10px;
}
nav li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
}

nav li a {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}
section {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: orange;
}
img {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    border-style: solid;
    border-color: #7000ff;
    border-radius: 40%;
    margin-left: 50px;
}
main p {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border-style: solid;
    background-color: #ec860075;
    border-color: lightgray;
    padding-top: 7px;
    padding-left: 7px;
    font-family: 'Quicksand', sans-serif;
}
table {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    display: flex;
    justify-content: center;
}
th {
    border-style: solid;
    border-color: #6f00ff46;
    border-width: 1px;
    padding: 1.5px;
    background-color: #ec860075;
}
table img {
    max-width: 170px;
}
#imgs {
    position: relative;
    left: -25px;
}
#cabecalhoT {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5px;
}

.nome-ingles {
    text-align: center;
}
footer {
    background-color: #7000ff;
    padding: 1em;
    clear: right;
    display: flex;
    position: relative;
    align-content: flex-end;
}

footer p {
    margin-left: 20px;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

footer img {
    width: 50px;
    justify-content: center;
    border-radius: 50%;
    margin-left:  15px;
}
nav a:hover {
    background-color: rgba(255, 255, 0, 0.575);
}
a :hover {
    position: relative;
    left: -3px;
    top: -3px;
}
#grape {
    color: blueviolet;
}
#peach {
    color: rgb(226, 167, 140);
}
#wild {
    color: palevioletred;
}
#frutas {
    position: relative;
    animation: flutuando .5s ease-in-out 0s infinite alternate;
}
@keyframes flutuando {
    from { top: -30px; }
    to   { top: -60px; }
}